* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #9c27b0, #8ecdff);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3%;
}

.logo {
  z-index: 2;
  display: block;
  color: cornflowerblue;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 20px;
}

.nav ul li a {
  font-size: 20px;
  color: #ffffff;
}

.information {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}

.overray {
  width: 0;
  height: 0;
  border-top: 500px solid white;
  border-bottom: 500px solid white;
  border-right: 500px solid transparent;
  border-left: 500px solid white;
}

.phone {
  z-index: 1;
  position: absolute;
  display: block;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 600px;
}

.circle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: transform 1s;
}

.feature {
  position: absolute;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.feature i {
  font-size: 70px;
}

.one {
  top: 450px;
  right: 50px;
}

.two {
  top: 150px;
  left: 350px;
  transform: rotate(270deg);
}

.three {
  bottom: 450px;
  left: 50px;
  transform: rotate(180deg);
}

.four {
  bottom: 150px;
  right: 350px;
  transform: rotate(90deg);
}

.text-box {
  margin-left: 30px;
}

.feature strong {
  font-size: 25px;
}

.controls {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 25px;
}

.controls span {
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 1;
}

.controls i {
  color: #ffffff;
  font-size: 20px;
}
